@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
@import 'reset';

// MAIN
// ---------------------

*:focus {
    outline: none;
}

:root {
    --light-color: #fafafa;
    --dark-color: #616161;

    --transition-time: .2s;
    --transition-ease: ease;
    --fade-transition-time: .3s;
}


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

button {
    border: 0 none;
    cursor: pointer;
}

body {
    background: #35d0b4;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
}

body.loaded {
    overflow: auto;

    .loader {
        opacity: 0;
        visibility: hidden;
    }
}

.loader {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #000 url('../img/flash-animation.gif') center no-repeat;
    background-size: 40px;
    transition: all .4s ease;
    transition-delay: .3s;
}   

.icon {
    display: inline-block;
    width: 16px;
    height: 14px;
    line-height: 14px;
    vertical-align: middle;
    margin-right: 5px;
}
.email-icon {
    background: url('../img/email.svg') no-repeat center;
}

.telegram-icon {
    background: url('../img/telegram.svg') no-repeat center;
}

.main {
    // padding: 20px;
}

.logo {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 14px;
    height: 32px;
    background: url('../img/flash.svg') no-repeat center;
    transition: opacity var(--transition-time) var(--transition-ease);

    &:hover {
        opacity: .7;
    }
}

.color-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: yellow;
    z-index: 3;
    display: none;

    animation: 1s infinite bg2;

    
}

body.overlay-active {
    .color-overlay {
        display: block;
    }
}
@keyframes bg1 {
    0%   {background: #4835D0;}
    10%   {background: #A235D0;}
    20%   {background: #D06235;}
    30%   {background: #433163;}
    40%   {background: #D349D6;}
    50%   {background: #D43D3D;}
    60%   {background: #5F5B71;}
    70%   {background: #45B37D;}
    80%   {background: #07202F;}
    90%   {background: #D06235;}
    100%   {background: #45B37D;}
}

@keyframes bg2 {
    0%   {background: #D0357A;}
    10%   {background: #A235D0;}
    20%   {background: #D06235;}
    30%   {background: #433163;}
    40%   {background: #F428F8;}
    50%   {background: #5C3DD4;}
    60%   {background: #5F5B71;}
    70%   {background: #45B37D;}
    80%   {background: #551FD5;}
    90%   {background: #D06235;}
    100%   {background: #45B37D;}
}

@keyframes bg2 {
    0%   {background: #D43D3D;}
    10%   {background: #5F5B71;}
    20%   {background: #45B37D;}
    30%   {background: #D06235;}
    40%   {background: #433163;}
    50%   {background: #F428F8;}
    60%   {background: #45B37D;}
    70%   {background: #551FD5;}
    80%   {background: #F5E682;}
    90%   {background: #433163;}
    100%   {background: #A235D0;}
}


// TAGS
// ---------------------

.tags-menu {
    position: fixed;
    left: 25px;
    top: 25px;

    .tags-menu_button {
        font-size: 14px;
        color: var(--light-color);
        background: none;
        display: block;
        border: 0 none;
        margin-bottom: 8px;
        padding: 5px 12px;
        border-radius: 15px;
        cursor: pointer;
        transition: all var(--transition-time) var(--transition-ease);

        &:hover {
            background: var(--light-color);
            color: var(--dark-color);
        }
        &.active {
            background: var(--light-color);
            color: var(--dark-color);
        }
    }
}


// ABOUT
// ---------------------

body {
    .about {
        transition: all var(--fade-transition-time) var(--transition-ease);
        // transform: scale(2);
        will-change: transform, opacity, visibility;
    }

    &.about-active {

        .about {
            opacity: 1;
            visibility: visible;
            // transform: scale(1);
        }
    }
}


.about {
    background: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    overflow: auto;

    .about-container {
        position: relative;
        max-width: 960px;
        margin: 0 auto;
        padding: 160px 20px;
        min-height: 100%;
        background: url('../img/guy.jpg') no-repeat 30px 250px;

        @media (max-width: 860px) {
            padding: 120px 20px 20px;
        }
    }

    .about_close {
        z-index: 3;
        width: 22px;
        height: 22px;
        position: fixed;
        top: 25px;
        right: 25px;
        background: url('../img/close.svg') no-repeat center;
        transition: opacity var(--transition-time) var(--transition-ease);

        &:hover {
            opacity: .7;
        }
    }

    .about_intro {
        display: flex;
        padding-bottom: 65px;

        @media (max-width: 860px) {
            display: block;
        }

        .about_intro-header {
            font-size: 66px;
            font-weight: 500;
            line-height: 0.9;
            position: relative;
            flex: 0 0 270px;

            &:hover {
                &:before {
                    background: url('../img/flash-animation.gif') no-repeat center;
                    background-size: 100%;
                }
            }

            &:before {
                content: '';
                width: 46px;
                height: 104px;
                position: absolute;
                background: url('../img/flash.svg') no-repeat center;
                background-size: 100%;
                top: -70px;
                left: -46px;
            }

            @media (max-width: 1060px) {
                margin-left: 50px;
            }
        }

        .about_intro-text {
            margin-top: 120px;
            columns: 2;
            column-gap: 40px;

            @media (max-width: 1060px) {
                columns: 1;
            }

            @media (max-width: 860px) {
                margin-top: 40px;
            }
        }
    }

    .about_block {
        display: flex;
        margin-bottom: 65px;

        @media (max-width: 860px) {
            display: block;
        }

        .about_contact-link {
            @media (max-width: 500px) {
                display: block;
            }
        }
    }
    .about_block-header {
        font-size: 18px;
        line-height: 0.9;
        flex: 0 0 270px;

        @media (max-width: 860px) {
            margin-bottom: 20px;
        }
    }
    .about_block-text-holder {
        .about_block-date {
            font-weight: bold;
        }
        p {
            margin-bottom: 15px;
        }
    }
    .about_contact-link {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        margin-right: 65px;
        transition: opacity var(--transition-time) var(--transition-ease);

        &:hover {
            opacity: .6;
        }
    }
    .about_contacts {
        position: absolute;
        top: 160px;
        right: 0;

        @media (max-width: 860px) {
            top: 210px;
            right: 20px;
        }

        .about_contact-link {
            margin-right: 0;
            margin-left: 15px;
        }
    }
}




// WORKS
// ---------------------
.works {

    .works-container {
        min-height: 100vh;
        padding: 40px 9vw;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            max-width: 980px;
            transition: transform var(--transition-time) var(--transition-ease);
            transform: translateY(15px);
            
            
            display: none;

            &.active {
                display: block;
            }

            @media (max-width: 860px) {
                margin-top: 120px;
            }

            @media (max-width: 1170px) {
                max-width: 100%;
            }
        }
    }
}